$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1110px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px
$bp-tiny: 21.75em; //348px
  
* 
  margin: 0;
  padding: 0;


*,
*::before,
*::after 
  box-sizing: inherit;

html
  @media only screen and (max-width: $bp-large) 
    font-size: 55%;
  

  @media only screen and (max-width: $bp-small) 
    font-size: 50%;
  
  
body 
  margin: 0;
  font-family: "Manrope";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.6;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  transition: all 0.4s;
  justify-content: center;
    
.container
  width: 100%
  max-width: 40rem
  display: flex
  flex-direction: column
  justify-content: center
  padding: 3rem 2rem
  position: relative
  min-width: 35rem
  @media only screen and (max-width: $bp-tiny) 
    padding: 2rem 1rem;
.error
  color:#ff5959
  text-align: center
  margin-bottom: 4rem
  font-size: 1.3em

.dark 
  background-color:#17252a
  color: #ffffff;

  & .title 
    &__icon 
      fill: #ffffff;
    

    &__text 
      color: #ffffff;
    

  & .title__text--subtitle 
    color: #ffffff;
  

  & .main__weather 
    background-color: #2b7a78;

    &__text 
      &--phrase 
        color: #ffffff
      &--minmax
        color:#17252a 
      
    

    &__details--temp 
      color:#17252a 
   

  & .cities__weather 
    background-color: #2b7a78;

    &__details 
      &__text 
        &--phrase 
          color: #ffffff
        

        &--minmax 
          color:#17252a
     

      &__temp 
        color:#17252a


  & .add__city--icon 
    fill: #ffffff;
  

  & .search__results__single 
    background-color: #2b7a78;

    &--country 
      color:#17252a
    

    &--city 
      color: #ffffff;
    

    &.saved 
      background-color: #ffffff;
 

  & .saved .search__results__single--city 
    color: #2b7a78;
  

  & .search__form__input 
    color: #ffffff;
 